[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.li ng-enter {
animation:bounceIn 1s;
}

.li ng-leave {
  animation:bounceOut 2s;
}

.name {
  display:inline;
}

.div-chart {
  width:100%;
  height:350px;
}

.value {
  display:inline;
  float:right;
}

.imgSelected {
   width:25px;
   height:25px;
   border-style: none;
}

IMG[src=''], IMG:not([src])      
{opacity:0;}


.image {
  width:25px;
  height:25px;
  margin-right:15px;
  text-align:center;
}

.animated {
  animation: zoom ease-out 0.5s;
  /*transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;*/
  /*overflow: hidden;*/
  transition: all 0.5s ease-out;
}

-webkit-@keyframes zoom {
  0% {transform: scale(1);}
  25% {transform: scale(1.5);}
 50% {transform: scale(2);}
  75% {transform: scale(6);}
  85% {transform: scale(8);}
  95% {transform: scale(9);}
  96% {transform: scale(9);}
  97% {transform: scale(9);}
  100% {transform: scale(10);}
}

@keyframes zoom {
    0% {transform: scale(1);}
  25% {transform: scale(1.5);}
  50% {transform: scale(2);}
  75% {transform: scale(6);}
  85% {transform: scale(8);}
  95% {transform: scale(9);}
  96% {transform: scale(9);}
  97% {transform: scale(9);}
  100% {transform: scale(10);}
}
 

/*.animated.ng-enter {
  -webkit-animation:zoomOut 5s;
  animation:zoomOut 5s;
}*/



body {
background: #83a4d4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input{
  border: none;
}

button {
  height: 50px;
  width: 50px;
  margin: 10px 4px;
  box-shadow: inset 1px 1px 50px  #0066FF;
  border: none !important;
}


.calcBG {
  background-color: #0000CC;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: inset 1px 1px 50px #000;
}

.screen {
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold;


background: #8e9eab; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

box-shadow: 0px 4px  #000099 inset;

}

small {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.list-group-item {
  margin-top:20px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }

  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

@media (max-width: 474px) {
    body{font-size: 12px !important;}
}

@media (max-width: @screen-sm) {
    body{font-size: 9px !important;}
}

.plus {
  background-color:limegreen;
  border-radius:5px;
  padding:4px 4px;
  font-weight: bold;
  font-style:italic;
  float:right;
}

.minus {
  background-color:red;
  border-radius:5px;
  padding:4px 4px;
  font-weight: bold;
  font-style:italic;
  float:right;
}

.exclamation {
  background-color:orange;
  border-radius:5px;
  padding:4px 4px;
  font-weight: bold;
  font-style:italic;
  float:right;
}

.modal-body {
  height:900px;
}


.list, .calculator, .chart, .expenses, .income {
  position:absolute;

}

.income, .expenses {
  width:100%;
}

.main.ng-enter {
    -webkit-animation:slideInRight 0.75s;
     animation: slideInRight 0.75s;
}

.main.ng-leave {
  -webkit-animation:slideOutLeft 0.75s;
  animation: slideOutLeft 0.75s;
}

