<div ng-controller="expensesController as expCtrl" class="modal-demo">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Select Expenses</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <div class='list-group'>
            <div class="col-xs-4 col-sm-4" ng-repeat='expense in expCtrl.expenses'>
              <a class='list-group-item'>
                <img ng-src="{{expense.img}}" ng-click="selected.item = expense; ok()" style='width:100%'>
                <p class='text-center muted-text'>{{expense.name}}</p>
              </a>
            </div>
        </div>
      </div>
