
<div class="container text-center" id="calc">
  <div class="calcBG col-md-3 col-md-offset-4 text-center">
    <div class="row">
      <small>Income: {{incomeCtrl.selectedIncome.name}}</small>
    </div>
    <div class="row" id="result">
      <form name="calc">
        <input type="text" class="screen text-right" name="result" ng-model='incomeCtrl.result'
        value='{{incomeCtrl.result}}' readonly>
      </form>
        <div growl></div>
    </div>
    <div class="row">
      <button id="7" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(7)">7</button>
      <button id="8" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(8)">8</button>
      <button id="9" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(9)">9</button>
      <button id="del" type="button" class="btn btn-info" ng-click="incomeCtrl.delete()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
    <div class="row">
      <button id="4" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(4)">4</button>
      <button id="5" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(5)">5</button>
      <button id="6" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(6)">6</button>
      <!-- <button id="-" type="button" class="btn btn-info" ng-click="myFunction(this.id)">-</button> -->
    </div>
    <div class="row">
      <button id="1" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(1)">1</button>
      <button id="2" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(2)">2</button>
      <button id="3" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(3)">3</button>
      <!-- <button id="+" type="button" class="btn btn-info" ng-click="myFunction(this.id)">+</button> -->
    </div>
    <div class="row">
      <button id="0" type="button" class="btn btn-info" ng-click="incomeCtrl.myFunction(0)">0</button>
      <button type="button" class="btn btn-info" ng-click="incomeCtrl.openIncome('lg', '',incomeCtrl.incomes)">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-info" ng-disabled="!incomeCtrl.ok || !incomeCtrl.ok1"
      ng-click="incomeCtrl.saveUpdateRecords(incomeCtrl.selectedIncome.name)">
        <i class="fa fa-save" aria-hidden="true"></i>
      </button>
    </div>

  </div>
</div>
</div>
